*.pyc
*.pyq
*.pyo
.*.swp
.*.swo
.env
.DS_Store
nohup.out
private.py

.idea/MatchMaker.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

.data/app.db

data/*

.*.db

*.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
