/* ------------------------------------------------------------------------------
	 Banner
-------------------------------------------------------------------------------*/
body {
    background-color: red !important;
}

h1 {
    color: red;
}
.main-banner2 {
	background-color: red;
}
