/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: visible; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.71); /* Black w/ opacity */
    z-index: 99 !important;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    width: 500px;
    margin: 15% auto; /* 15% from the top and centered */
    padding-left: 14px;
    padding-right: 11px;
    border: 1px solid #fefefe;
}

/*!* The Close Button *!*/
#register-close, #login-close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

#register-close:hover, #register-close:focus,
#login-close:hover, #login-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-closes {
    text-align: right;
    margin-top: 6px;
}


/* Profile Form */
#profile-form-modal-2 {
    display: none;
}

#profile-back-btn {
    font-weight: bold;
}

#profile-next-btn {
    float:right;
    clear: left;
    font-weight: bold;
}

.inactive-btn {
    color: black;
    pointer-events: none;
}

.form-double-input {
    clear: both;
}

.form-double-input label {
    margin-top: 15px;
}

.form-single-input label {
    margin-top: 15px;
}

.form-single-input button {
    width: 51%;
    height: 50px;
    margin-top: 25px;
    margin-left: 24.5%;
    margin-right: 24.5%;
}

.col_1_of_2 {
    width: 45%;
	display: block;
	float: left;
	margin:0 0 0 4%;
}

.col_1_of_1 {
    width: 94%;
    display: block;
	float: left;
	margin:0 0 0 4%;
}

#imageUpload-btn {
    width: 100%;
    height: 60px;
    padding-top: 4px;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
}

#imageUpload-btn:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}


/* Members Page - Content Area*/

/* Style the tab */
div.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f1f1f1;
    max-width: 720px;
    min-width: 390px;
    margin-left: auto;
    margin-right: auto;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    max-width: 240px;
    min-width: 130px;
    width: 33.33%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-transform: uppercase !important;
    letter-spacing: 3px !important;
    border-right: 0.5px solid #ccc;
    border-left: none;
    border-bottom: none;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #DDDDDD;
    font-weight: bold;
}

/* Create an active/current tablink class */
div.tab button.active {
    /*background-color: #ccc;*/
    background-color: #ffffff;
    border-bottom: none;
    color: black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    min-height: 600px;
    max-width: 720px;
    min-width: 390px;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
