/* ------------------------------------------------------------------------------
	 Profile card
-------------------------------------------------------------------------------*/
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 185px;
}
.card-background img {
    min-width: 130%;
    margin-left: -60px;
    margin-top: -5px;

}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 1);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 10px;
    font-size: 25px;
    line-height: 1;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    text-shadow: 1px 1px 1px black!important;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius: 0 !important;
}
/* sunburst chart*/
#answer_details{
    width:100%;
    height: 1200px;
}

/* ------------------------------------------------------------------------------
	 Profile Tabs
-------------------------------------------------------------------------------*/
div.profiletab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f1f1f1;
    min-width: 390px;
    margin-left: auto;
    margin-right: auto;
}

/* Style the buttons inside the tab */
div.profiletab button {
    background-color: inherit;
    min-width: 130px;
    width: 50%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-transform: uppercase !important;
    letter-spacing: 3px !important;
    border-right: 0.5px solid #ccc;
    border-left: none;
    border-bottom: none;
}
div.profiletab button:hover {
    background-color: #DDDDDD;
    /*font-weight: bold;*/
}
div.profiletab button.active {
    background-color: #ffffff;
    border-bottom: none;
    color: black;
}

/* ------------------------------------------------------------------------------
	 Viewing other user's profiles
-------------------------------------------------------------------------------*/
#indv-prof-btn{
    width: 180px;
    height: 30px;
    margin: 10px;
}

