{% extends 'main.html' %}

{% block body %}

    <!-- Register Form Modal -->
    <div id="register-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p class="modal-closes"><span id="register-close">&times;</span></p>
            <header class="header">Register</header>
            <form action="/register" method="post" id="form" class="topBefore">
                {% if register_form.errors %}
                    <script>
                        document.getElementById('register-modal').style.display = "block";
                    </script>

                    <ul class="errors">
                        {% for field_name, field_errors in register_form.errors.iteritems() %}
                            {% for error in field_errors %}
                                <li style="color: #e84545;">{{ register_form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        <br>
                    </ul>
                {% endif %}
                {% if register_form.unique == False %}
                    <script>
                        document.getElementById('register-modal').style.display = "block";
                    </script>

                    <ul class="errors">
                        <li style="color: #e84545;"><b>username</b>: already exists</li>
                    </ul>
                    <br>
                {% endif %}

                {{ register_form.hidden_tag() }}
                <div>{{ register_form.username(placeholder="Username") }}</div>
                <div>{{ register_form.email(placeholder="Email") }}</div>
                <div>{{ register_form.password(placeholder="Password") }}</div>
                <input id="submit" type="submit" value="REGISTER" style="border-top: none !important;">
            </form>
        </div>
    </div>

    <!-- Login Form Modal -->
    <div id="login-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p class="modal-closes"><span id="login-close">&times;</span></p>
            <header class="header">Login</header>
            <form action="/login" method="post" id="form" class="topBefore ">
                {% if login_form.errors %}
                    <script>
                        document.getElementById('login-modal').style.display = "block";
                    </script>

                    <ul class="errors">
                        {% for field_name, field_errors in login_form.errors.iteritems() %}
                            {% for error in field_errors %}
                                <li style="color: #e84545;">{{ register_form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        <br>
                    </ul>
                {% endif %}
                {{ login_form.hidden_tag() }}
                <div>{{ login_form.username(placeholder="Username") }}</div>
                <div>{{ login_form.password(placeholder="Password") }}</div>
                {#                <div>{{ login_form.remember(placeholder="Remember") }}</div>#}
                <input id="submit" type="submit" value="LOGIN" style="border-top: none !important;">
            </form>
        </div>
    </div>


    <section id="intro" class="section intro no-padding">
        <div class="container-fluid">
            <blockquote class="site-info">
                <h1>About Us</h1>
                <p class="sub-heading">
                    "We started from the bottom and now we here."
                </p>
                <br><br>
            </blockquote>
        </div>
    </section>
    <!-- profile section -->
    <section id="teams" class="section teams">
        <div class="container">
            <p></p>
            <div class="row">
                <!-- team member 1 -->
                <div class="col-md-4 col-sm-8">
                    <div class="person"><img src="../../static/images/ben.jpg" alt="" class="img-responsive">
                        <div class="person-content">
                            <h4>Ben Diep</h4>
                            <h5 class="role">Scrum Master<br><br>Project Team</h5>
                            <p>
                                s3462344@student.rmit.edu
                        </div>
                        <ul class="social-icons clearfix">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- team member 1 -->
                <!-- team member 2 -->
                <div class="col-md-4 col-sm-8">
                    <div class="person"><img src="../../static/images/damon.jpg" alt="" class="img-responsive">
                        <div class="person-content">
                            <h4>Damon Toumbourou</h4>
                            <h5 class="role">Lead Developer<br><br>Project Team</h5>
                            <p>
                                s3019592@student.rmit.edu.au
                            </p>
                        </div>
                        <ul class="social-icons clearfix">
                            <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- team member 2 -->
                <!-- team member 3 -->
                <div class="col-md-4 col-sm-8">
                    <div class="person"><img src="../../static/images/alex.jpg" alt="" class="img-responsive">
                        <div class="person-content">
                            <h4>Alex Cheong</h4>
                            <h5 class="role">Project Leader<br><br>Project Team</h5>
                            <p>
                                s3436036@student.rmit.edu.au
                            </p>
                        </div>
                        <ul class="social-icons clearfix">
                            <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- team member 1 -->
            </div>
            <br><br><br><br>
        </div>
    </section>
    <!-- profile section -->

{% endblock %}