{% extends 'main.html' %}

{% block body %}

    <!-- Register Form Modal -->
    <div id="register-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p class="modal-closes"><span id="register-close">&times;</span></p>
            <header class="header">Register</header>
            <form action="#" method="post" id="form" class="topBefore">
                <input id="username" name="username" type="text" placeholder="Username">
                <input id="password" name="password" type="text" placeholder="Password">
{#                    <textarea id="message" name="message" type="text" placeholder="MESSAGE"></textarea>#}
                <input id="submit" type="submit" value="REGISTER">
            </form>
        </div>
    </div>

    <!-- Login Form Modal -->
    <div id="login-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p class="modal-closes"><span id="login-close">&times;</span></p>
            <header class="header">Login</header>
            <form action="#" method="post" id="form" class="topBefore">
                <input id="username" name="username" type="text" placeholder="Username">
                <input id="password" name="password" type="text" placeholder="Password">
{#                    <textarea id="message" name="message" type="text" placeholder="MESSAGE"></textarea>#}
                <input id="submit" type="submit" value="LOGIN">
            </form>
        </div>
    </div>

    <section id="intro" class="section intro no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="col-md-6">
                                <div class="avatar">
                                    <img src="../static/images/intro-img1.jpg" alt="" class="img-responsive">
                                </div>
                                <h3></h3>
                            </div>
                            <div class="col-md-6">
                                <blockquote>
                                    <h1>We create Awesome Branding</h1>
                                    <p>Susan Sims, Interaction Designer at XYZCras mattis consectetur purus sit amet
                                        fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed
                                        consectetur.Cras mattis consectetur purus sit amet fermentum.Interaction
                                        Designer at XYZCras mattis consectetur purus sit amet fermentum. Donec sed odio
                                        dui. Aenean lacinia bibendum nulla sed consectetur.Cras mattis consectetur purus
                                        sit amet fermentum. </p>
                                    <p>Susan Sims, Interaction Designer at XYZCras mattis consectetur purus sit amet
                                        fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed
                                        consectetur.Cras mattis consectetur purus sit amet fermentum. </p>
                                </blockquote>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}