<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }} ">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }} ">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }} ">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-icon.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <title>DiDo</title>
  </head>
  <body>
	 
	{% include '/layout/header.html' %}  
    

    {% block body %}

    {% endblock %}


	{% include '/layout/footer.html' %}  

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
	<script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script> 
	<script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script> 
	<script src="{{ url_for('static', filename='js/retina.min.js') }}"></script> 
	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script> 
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>
