<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/additional.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-icon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modalbox.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewprofile.css') }} ">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/toastr.js') }}"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <title>DIDO</title>
</head>
<body>

{% include '/layout/navbar.html' %}

{% block body %}

{% endblock %}

{% include '/layout/footer.html' %}

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>
<script src="{{ url_for('static', filename='js/retina.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/viewprofile.js') }}"></script>


</body>
</html>
