{% extends 'main.html' %}

{% block body %}

    <h2>Welcome {{ name }}</h2>

    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2>{{ message }}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section id="intro" class="section intro no-padding">
        <div class="container-fluid">
            <blockquote class="site-info">
                <h1>Home</h1>


                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'match')" id="defaultOpen">Match</button>
                    <button class="tablinks" onclick="openCity(event, 'chat')">Chat</button>
                    <button class="tablinks" onclick="openCity(event, 'setting')">Settings</button>
                </div>

                <div id="match" class="tabcontent">
                    <h3>Match</h3>
                    <p>Match Content Goes here (Picture/Like/Dislike)</p>
                    <p>Need a expand div here to show matches profile</p>
                </div>

                <div id="chat" class="tabcontent">
                    <h3>Chat</h3>
                    <p>Need to figure out the format of chats with multiple users...</p>
                </div>

                <div id="setting" class="tabcontent">
                    <h3>Settings</h3>
                    <p>Quick setting toggles will go here (Age/Gender Preference)</p>
                </div>

                <script>
                    function openCity(evt, pageName) {
                        var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                        }
                        tablinks = document.getElementsByClassName("tablinks");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                        }
                        document.getElementById(pageName).style.display = "block";
                        evt.currentTarget.className += " active";
                    }

                    // Get the element with id="defaultOpen" and click on it
                    document.getElementById("defaultOpen").click();
                </script>


                <br><br><br><br>
            </blockquote>
        </div>
    </section>


{% endblock %}
