{% extends 'main.html' %}

{% block body %}
    <!-- Display Validation errors-->
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-center",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "2000",
                        "hideDuration": "2000",
                        "timeOut": "2500",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut",
                        "closeMethod": "fadeOut"
                    };
                    toastr["success"]("Welcome {{ name }} !", "{{ message }}")
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- End Display Validation errors-->

    <!-- If user has not set up a match profile -->
    {% if curr_user_table.setup == False %}
        <section id="intro" class="section intro no-padding">
            <div class="container-fluid"
                 style="background: linear-gradient(rgba(255, 0, 0, 0.45),rgba(255, 0, 0, 0.45)),url(../static/images/other/Elegant_Background-7.jpg)">
                <blockquote class="site-info" style="height: 640px !important;">
                    <h2 style="text-align: center">Welcome aboard the love train !</h2>
                    <h1>Please set up your profile to begin.</h1>

                    <form action="/profile">
                        <div class="form-single-input">
                            <div class="form-group col_1_of_1" style="margin-bottom: 100px;">
                                <button class="btn btn-default" style="letter-spacing: 1px;">Setup
                                    Profile
                                </button>
                            </div>
                        </div>
                    </form>

                </blockquote>
            </div>
        </section>

        <!-- If is has setup a profile display match profiles -->
    {% else %}
        <section id="intro" class="section intro no-padding">
            <div class="container-fluid"
                 style="background: linear-gradient(rgba(51,70,92,0.91),rgba(51,70,92,0.91)),url(../static/images/other/Elegant_Background-7.jpg)">
                <blockquote class="site-info">
                    <h1></h1>
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'recommended')" id="defaultOpen">Recommend</button>
                        <button class="tablinks" onclick="openCity(event, 'matched')">Matched</button>
                        <button class="tablinks" onclick="openCity(event, 'setting')" style="border-right: none">
                            Settings
                        </button>
                    </div>

                    <div id="recommended" class="tabcontent" style="overflow: hidden;">
                        <div class="match-user">

                            {% for user in highest_match_users %}
                                {% for value in user %}

                                    {% if value.username %}
                                        <span class="matched_username" style="display:none;">{{ value.username }}</span>
                                    {% endif %}

                                    {% if value.image %}
                                        <img class="mySlides w3-animate-left"
                                             src="../static/images/profiles/{{ value.image }}" style="width:100%; max-height: 500px; min-height: 500px; overflow: hidden;">
                                    {% endif %}

                                {% endfor %}
                            {% endfor %}
                            <div class="like-dislike-btn">
                                <button id="dislike" class="w3-button w3-blue" onclick="plusDivs(1)" name="dislike"
                                        value="dislike">DISLIKE
                                </button>
                                <button id="like" class="w3-button w3-pink" onclick="plusDivs(1)" name="like"
                                        value="like">LIKE
                                </button>
                            </div>

                            <button class="accordion">Show Info</button>
                            <div class="panel">

                                {% for user in highest_match_users %}

                                    {% for value in user %}

                                        {% if value.name %}
                                            <p class="panel-name" style="display:none; margin-top: 5px; margin-bottom: 5px;"><b>Name: </b>{{ value.name }}</p>
                                        {% endif %}

                                        {% if value.gender %}
                                            <p class="panel-gender" style="display:none; margin-top: 5px; margin-bottom: 5px"><b>Gender: </b>{{ value.gender }}</p>
                                        {% endif %}

                                        {% if value.age %}
                                            <p class="panel-age" style="display:none; margin-top: 5px; margin-bottom: 5px;"><b>Age: </b>{{ value.age }}</p>
                                        {% endif %}

                                        {% if value.height %}
                                            <p class="panel-height" style="display:none; margin-top: 5px; margin-bottom: 5px;"><b>Height: </b>{{ value.height }} cm</p>
                                        {% endif %}

                                        {% if value.location %}
                                            <p class="panel-location" style="display:none; margin-top: 5px; margin-bottom: 5px;"><b>Location: </b>{{ value.location }}</p>
                                        {% endif %}

                                        {% if value.education %}
                                            <p class="panel-education" style="display:none; margin-top: 5px; margin-bottom: 5px;"><b>Education: </b>{{ value.education }}</p>
                                        {% endif %}

                                        {% if value.bio %}
                                            <p class="panel-bio" style="display:none; margin-top: 5px; margin-bottom: 5px;"><b>Bio: </b>{{ value.bio }}</p>
                                        {% endif %}

                                    {% endfor %}

                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <script>  <!-- Javascript for Image slider -->
                    // Image section
                    var slideIndex = 1;
                    showDivs(slideIndex);
                    function plusDivs(n) {
                        showDivs(slideIndex += n);

                        document.getElementsByClassName('panel-name')[slideIndex-2].style.display = "none";
                        document.getElementsByClassName('panel-gender')[slideIndex-2].style.display = "none";
                        document.getElementsByClassName('panel-age')[slideIndex-2].style.display = "none";
                        document.getElementsByClassName('panel-height')[slideIndex-2].style.display = "none";
                        document.getElementsByClassName('panel-location')[slideIndex-2].style.display = "none";
                        document.getElementsByClassName('panel-education')[slideIndex-2].style.display = "none";
                        document.getElementsByClassName('panel-bio')[slideIndex-2].style.display = "none";

                        document.getElementsByClassName('panel-name')[slideIndex-1].style.display = "block";
                        document.getElementsByClassName('panel-gender')[slideIndex-1].style.display = "block";
                        document.getElementsByClassName('panel-age')[slideIndex-1].style.display = "block";
                        document.getElementsByClassName('panel-height')[slideIndex-1].style.display = "block";
                        document.getElementsByClassName('panel-location')[slideIndex-1].style.display = "block";
                        document.getElementsByClassName('panel-education')[slideIndex-1].style.display = "block";
                        document.getElementsByClassName('panel-bio')[slideIndex-1].style.display = "block";

                    }
                    function showDivs(n) {
                        var i;
                        var x = document.getElementsByClassName("mySlides");
                        if (n > x.length) {
                            slideIndex = 1;
                        }
                        if (n < 1) {
                            slideIndex = x.length;
                        }
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                            document.getElementsByClassName('panel-name')[slideIndex-1].style.display = "none";
                            document.getElementsByClassName('panel-gender')[slideIndex-1].style.display = "none";
                            document.getElementsByClassName('panel-age')[slideIndex-1].style.display = "none";
                            document.getElementsByClassName('panel-height')[slideIndex-1].style.display = "none";
                            document.getElementsByClassName('panel-location')[slideIndex-1].style.display = "none";
                            document.getElementsByClassName('panel-education')[slideIndex-1].style.display = "none";
                            document.getElementsByClassName('panel-bio')[slideIndex-1].style.display = "none";
                    
                        }
                        console.log(slideIndex - 1);
                        x[slideIndex - 1].style.display = "block";
                    }
                    // POST likes / dislikes here
                    var matched_username = document.getElementsByClassName("matched_username");
                    matched_username = (matched_username[slideIndex - 1].textContent);
                    $('#like').click(function () {
                        var likeIndex = slideIndex;
                        if (likeIndex - 2 == -1) {
                            console.log('yep');
                            likeIndex = 7;
                        }

                        var like = document.getElementById('like').value;
                        var matched_username = document.getElementsByClassName("matched_username");
                        matched_username = (matched_username[likeIndex - 2].textContent);
                        console.log(matched_username);
                        
                        $.ajax({
                            type: 'POST',
                            url: '/member',
                            data: {
                                like_dislike: like,
                                liked_user: matched_username
                            },
                            success: function (response) {
                                console.log('success');
                            }
                        });
                    });
                    likeIndex = 1
                    // Accordian
                    var acc = document.getElementsByClassName("accordion");
                    var i;
                    for (i = 0; i < acc.length; i++) {
                        acc[i].onclick = function () {
                            this.classList.toggle("active");
                            var panel = this.nextElementSibling;
                            if (panel.style.maxHeight) {
                                document.getElementsByClassName("accordion")[0].innerHTML = "SHOW INFO";
                                panel.style.maxHeight = null;
                            } else {
                                document.getElementsByClassName("accordion")[0].innerHTML = "HIDE INFO";
                                document.getElementsByClassName('panel-name')[slideIndex-1].style.display = "block";
                                document.getElementsByClassName('panel-gender')[slideIndex-1].style.display = "block";
                                document.getElementsByClassName('panel-age')[slideIndex-1].style.display = "block";
                                document.getElementsByClassName('panel-height')[slideIndex-1].style.display = "block";
                                document.getElementsByClassName('panel-location')[slideIndex-1].style.display = "block";
                                document.getElementsByClassName('panel-education')[slideIndex-1].style.display = "block";
                                document.getElementsByClassName('panel-bio')[slideIndex-1].style.display = "block";
                                panel.style.maxHeight = panel.scrollHeight + "px";
                            }
                        }
                    }
                    </script> <!-- Javascript for Image slider -->


                    <div id="matched" class="tabcontent">
                        <p><b>Need to figure out the format of chats with multiple users...</b></p>
                         {% for user in mutual_likes %}
                            {% for value in user %}

                                {% if value.username %}
                                    {{ value.username }}
                                {% endif %}

                                {% if value.age %}
                                    {{ value.age }}
                                {% endif %}

                                {% if value.bio %}
                                    {{ value.bio }}
                                {% endif %}

                                {% if value.image %}
                                    {{ value.image }}
                                {% endif %}

                            {% endfor %}
                        {% endfor %}
                    </div>


                    <div id="setting" class="tabcontent">
                        <img src="../static/images/other/settings_demo.jpg" width="100%">
                        <p><b>Quick setting toggles will go here (Age/Gender Preference)</b></p>
                    </div>


                    <script>
                        // Content Area
                        function openCity(evt, pageName) {
                            var i, tabcontent, tablinks;
                            tabcontent = document.getElementsByClassName("tabcontent");
                            for (i = 0; i < tabcontent.length; i++) {
                                tabcontent[i].style.display = "none";
                            }
                            tablinks = document.getElementsByClassName("tablinks");
                            for (i = 0; i < tablinks.length; i++) {
                                tablinks[i].className = tablinks[i].className.replace(" active", "");
                            }
                            document.getElementById(pageName).style.display = "block";
                            evt.currentTarget.className += " active";
                        }
                        // Get the element with id="defaultOpen" and click on it
                        document.getElementById("defaultOpen").click();
                    </script>

                </blockquote>
            </div>
        </section>
    {% endif %}

{% endblock %}
