{% extends 'main.html' %}

{% block body %}

    <section id="intro" class="section intro no-padding">
        <div class="container-fluid">
            <blockquote class="site-info">
                <h1>Profile Setup</h1>
                <br><br>

                <!-- Start of MatchForm -->
                <form role="form" method="POST" enctype="multipart/form-data">

                    <div id="profile-form-modal-1">
                        <a href="#" class="inactive-btn">&#8678 Back</a>
                        <a href="#" id="profile-next-btn">Next &#8680</a>

                        <p class="sub-heading" style="font-style: normal; font-size: 20px; color: #3C6478 !important;">
                            &#9473 The following fields will form your profile, Viewable by other users. &#9473
                        </p>
                        <br>

                        <div class="form-single-input">
                            <div class="form-group col_1_of_1">
                                 <label for="q1">Upload image</label>
                                {{ match_form.image(class="form-control", placeholder="image") }}
                            </div>
                        </div>

                        <div class="form-double-input">
                            <div class="form-group col_1_of_2">
                                <label>Age</label>
                                {{ match_form.age(class="form-control", placeholder="age") }}
                            </div>

                            <div class="form-group col_1_of_2">

                                <label>Preferred Age</label>
                                {{ match_form.pref_age(class="form-control", placeholder="preferred age") }}
                            </div>
                        </div>

                        <div class="form-double-input">
                            <div class="form-group col_1_of_2">
                                <label>Gender</label>
                                {{ match_form.gender(class="form-control", placeholder="gender") }}
                            </div>

                            <div class="form-group col_1_of_2">
                                <label>Preferred Gender</label>
                                {{ match_form.pref_gender(class="form-control", placeholder="preferred gender") }}
                            </div>
                        </div>

                        <div class="form-double-input">
                            <div class="form-group col_1_of_2">
                                <label>Height</label>
                                {{ match_form.height(class="form-control", placeholder="height") }}
                            </div>

                            <div class="form-group col_1_of_2">
                                <label>Suburb</label>
                                 {{ match_form.suburb(class="form-control", placeholder="suburb") }}
                            </div>
                        </div>

                        <div class="form-double-input">
                            <div class="form-group col_1_of_2">
                                <label>Ethnicity</label>
                                {{ match_form.ethnicity(class="form-control", placeholder="ethnicity") }}
                            </div>

                            <div class="form-group col_1_of_2">
                                <label>Religion</label>
                                 {{ match_form.religion(class="form-control", placeholder="religion") }}
                            </div>

                        </div>

                        <div class="form-single-input">
                            <div class="form-group col_1_of_1">
                                <label>About me</label>
                                {{ match_form.bio(class="form-control", placeholder="About me") }}
                            </div>
                        </div>

                        <div class="form-single-input">
                            <button type="button" id="profile-next-btn-2" class="btn btn-default">Next</button>
                        </div>
                        <br><br><br>
                    </div>


                    <div id="profile-form-modal-2">
                        <a href="#" id="profile-back-btn">&#8678 Back</a>
                        <a href="#" id="profile-next-btn" class="inactive-btn">Next &#8680</a>

                        <p class="sub-heading" style="font-style: normal; font-size: 20px; color: #3C6478 !important;">
                            &#9473 The following questions are used to match you with other users. &#9473
                        </p>
                        <br>

                        <div class="form-single-input">
                            <div class="form-group col_1_of_1">
                                <label for="q1">Tell me about yourself.</label>
                                <input type="text" class="form-control" id="q1" name='q1'>
                            </div>
                        </div>

                        <div class="form-single-input">
                            <div class="form-group col_1_of_1">
                                <label for="q2">What is your ideal holiday?.</label>
                                <input type="text" class="form-control" id="q2" name='q2'>
                            </div>
                        </div>

                        <div class="form-single-input">
                            <div class="form-group col_1_of_1">
                                <label for="q3">Describe your most recent shopping experience.</label>
                                <input type="text" class="form-control" id="q3" name='q3'>
                            </div>

                        </div>

                        <div class="form-single-input">
                            <div class="form-group col_1_of_1">
                                <label for="q4">
                                    Describe your expirence with going to the gym and if you have never attended
                                    a gym whatdo you think of them?
                                </label>
                                <input type="text" class="form-control" id="q4" name='q4'>
                            </div>
                        </div>

                        <div class="form-single-input">
                            <div class="form-group col_1_of_1">
                                <label for="q5">What does being outdoor mean to you?</label>
                                <input type="text" class="form-control" id="q5" name='q5'>
                            </div>
                        </div>

                        <div class="form-single-input">
                            <div class="form-group col_1_of_1">
                                <label for="q6">Describe the last time you expirience being in nature.</label>
                                <input type="text" class="form-control" id="q6" name='q6'>
                            </div>
                        </div>

                        <div class="form-single-input">
                            <div class="form-group col_1_of_1">
                                <label for="q7">Describe a time when you did something entreprenuerial.</label>
                                <input type="text" class="form-control" id="q7" name='q7'>
                            </div>
                        </div>

                        <div class="form-single-input">
                            <div class="form-group col_1_of_1">
                                <label for="q8">What do you think of volunteering and have you ever volunteered?</label>
                                <input type="text" class="form-control" id="q8" name='q8'>
                            </div>
                        </div>

                        <div class="form-single-input">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>

                        <br><br><br>
                    </div>

                </form>

            </blockquote>
        </div>
    </section>

{% endblock %}
