{% extends 'main.html' %}

{% block body %}

    <section id="intro" class="section intro no-padding">
        <div class="container-fluid">
            <blockquote class="site-info">
                <h1>Profile Setup</h1>
                <br><br>

                <form>
                    <input text="text" name="first" >
                </form>
            </blockquote>
        </div>
    </section>

    <div class="main">
        <form role="form" action="{{ url_for('profile') }}">
            <div class="form-group">
                <label for="q1">Tell me about yourself.</label>
                <input type="text" class="form-control" id="q1" name='q1'>
            </div>

            <div class="form-group">
                <label for="q2">What is your ideal holiday?.</label>
                <input type="text" class="form-control" id="q2" name='q2'>
            </div>

            <div class="form-group">
                <label for="q3">Describe your most recent shopping experience.</label>
                <input type="text" class="form-control" id="q3" name='q3'>
            </div>

            <div class="form-group">
                <label for="q4">Describe your expirence with going to the gym and if you have never attended a gym what
                    do
                    you think of them?</label>
                <input type="text" class="form-control" id="q4" name='q4'>
            </div>

            <div class="form-group">
                <label for="q5">What does being outdoor mean to you?</label>
                <input type="text" class="form-control" id="q5" name='q5'>
            </div>

            <div class="form-group">
                <label for="q6">Describe the last time you expirience being in nature.</label>
                <input type="text" class="form-control" id="q6" name='q6'>
            </div>

            <div class="form-group">
                <label for="q7">Describe a time when you did something entreprenuerial.</label>
                <input type="text" class="form-control" id="q7" name='q7'>
            </div>

            <div class="form-group">
                <label for="q8">What do you think of volunteering and have you ever volunteered?</label>
                <input type="text" class="form-control" id="q8" name='q8'>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

{% endblock %}
