{% extends 'main.html' %}

{% block body %}

    <!-- Register Form Modal -->
    <div id="register-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p class="modal-closes"><span id="register-close">&times;</span></p>
            <header class="header">Register</header>
            <form action="/register" method="post" id="form" class="topBefore">

                <!-- Display registration form errors -->
                {% if register_form.errors %}
                    <script>
                        document.getElementById('register-modal').style.display = "block";
                    </script>

                    <ul class="errors">
                        {% for field_name, field_errors in register_form.errors.iteritems() %}
                            {% for error in field_errors %}
                                <li style="color: #e84545;">{{ register_form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        <br>
                    </ul>
                {% endif %}
                <!-- End display registration form errors-->

                {% if register_form.unique_user == False %}
                    <script>
                        document.getElementById('register-modal').style.display = "block";
                    </script>

                    <ul class="errors">
                        <li style="color: #e84545;"><b>username</b>: already exists</li>
                    </ul>
                    <br>
                {% endif %}
                {% if register_form.unique_email == False %}
                    <script>
                        document.getElementById('register-modal').style.display = "block";
                    </script>

                    <ul class="errors">
                        <li style="color: #e84545;"><b>email</b>: already exists</li>
                    </ul>
                    <br>
                {% endif %}

                {{ register_form.hidden_tag() }}
                <div>{{ register_form.username(placeholder="Username") }}</div>
                <div>{{ register_form.email(placeholder="Email") }}</div>
                <div>{{ register_form.password(placeholder="Password") }}</div>
                <input id="submit" type="submit" value="REGISTER" style="border-top: none !important;">
            </form>
        </div>
    </div>

    <!-- Login Form Modal -->
    <div id="login-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p class="modal-closes"><span id="login-close">&times;</span></p>
            <header class="header">Login</header>
            <form action="/login" method="post" id="form" class="topBefore ">
                {% if login_form.errors %}
                    <script>
                        document.getElementById('login-modal').style.display = "block";
                    </script>

                    <ul class="errors">
                        {% for field_name, field_errors in login_form.errors.iteritems() %}
                            {% for error in field_errors %}
                                <li style="color: #e84545;">{{ register_form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        <br>
                    </ul>
                {% endif %}
                {{ login_form.hidden_tag() }}
                <div>{{ login_form.username(placeholder="Username") }}</div>
                <div>{{ login_form.password(placeholder="Password") }}</div>
                {#                <div>{{ login_form.remember(placeholder="Remember") }}</div>#}
                <input id="submit" type="submit" value="LOGIN" style="border-top: none !important;">
            </form>
        </div>
    </div>

    <section id="intro" class="section intro no-padding">
        <div class="container-fluid">
            <blockquote class="site-info">
                <h1>Terms &amp; Conditions</h1>
                <p class="sub-heading">
                    This agreement was written in English (AU). To the extent any translated version of this agreement conflicts with the English version,
                    the English version controls.<br>
                    Date of Last Revision: September 2, 2017.
                </p>
                <p>
                    This Statement of Rights and Responsibilities ("Statement," "Terms," or "SRR") derives from the DIDO Principles, and is our terms of service
                    that governs our relationship with users and others who interact with DIDO. By using or accessing the DIDO Services, you agree to the following broad
                    subject areas listed below. DIDO is not liable for any harm caused in relation to the subjects listed below.
                </p>
                <p style="padding-left:50px; white-space: pre; font-weight: bold;">
                    1.    Privacy<br>
                    2.    Sharing Your Content and Information<br>
                    3.    Safety<br>
                    4.    Registration and Account Security<br>
                    5.    Protecting Other People's Rights<br>
                    6.    Mobile and Other Devices<br>
                    7.    Payments<br>
                    8.    Special Provisions Applicable to Developers/Operators of Applications and Websites<br>
                    9.    About Advertisements and Other Commercial Content Served or Enhanced by Facebook<br>
                    10.  Special Provisions Applicable to Advertisers<br>
                    11.  Special Provisions Applicable to Pages<br>
                    12.  Special Provisions Applicable to Software<br>
                    13.  Amendments<br>
                    14.  Termination<br>
                    15.  Disputes<br>
                    16.  Special Provisions Applicable to Users Outside the Australia<br>
                </p>
                <br><br><br><br>
            </blockquote>
        </div>
    </section>

{% endblock %}