{% extends 'main.html' %}

{% block body %}

    <section id="intro" class="section intro no-padding">
        <div class="container-fluid"
             style="background: linear-gradient(rgba(51,70,92,0.91),rgba(51,70,92,0.91)),url(../static/images/other/Elegant_Background-7.jpg)">>
            <br><br>

                {% if curr_user_table.setup == True %}

                <div class="col-lg-6 col-sm-6 col-md-offset-3">
                    <div class="card hovercard">
                        <div class="card-background">
                            <img class="card-bkimg" alt="profile-background" src="static/images/other/background_template.jpg">
                        </div>
                        <div class="useravatar">
                            <img alt="profile-avatar" src="static/images/profiles/{{ curr_match_table.image }}">
                        </div>
                        <div class="card-info"> <span class="card-title">{{ curr_match_table.name }}</span>
                        </div>
                        <div class="card-views"> <span class="card-profile-views">Profile Views: {{ curr_match_table.view_count }}</span>
                        </div>
                    </div>
                    <div class="profiletab" role="group" aria-label="...">
                            <button type="button" id="stars" class="tablinks" href="#tab1" data-toggle="tab" onclick="openTab(event,'profile')">
                                <div class="hidden-xs">Profile</div>
                            </button>

                            <button type="button" id="favorites" class="tablinks" href="#tab2" data-toggle="tab" onclick="openTab(event,'personality')">
                                <div class="hidden-xs">Personality</div>
                            </button>
                    </div>

                    <div class="well">

                        <div class="tab-content">

                            <div class="tab-pane fade in active" id="tab1">

                                <div id = "details">

                            <h3 class="red-text text-center">The Basics</h3>
                        <br>

                            <dl class="dl-horizontal">
                                <dt>Age</dt>
                                <dd>{{ curr_match_table.age }}</dd>

                                <dt>Gender</dt>
                                <dd>{{ curr_match_table.gender }}</dd>

                                <dt>Height</dt>
                                <dd>{{ curr_match_table.height }}</dd>

                                <dt>Location</dt>
                                <dd>{{ curr_match_table.location }}</dd>

                                <dt>Education</dt>
                                <dd>{{ curr_match_table.education }}</dd>

                                <dt>Bio</dt>
                                <dd>{{ curr_match_table.bio }}</dd>
                            </dl>

                        {% if current_user.username == curr_match_table.username %}
                            <form action="{{ url_for('deactivate_user') }}" method="POST" id="deactivateForm">
                                <input type="hidden" name="name" value="{{ current_user.username }}">
                                <input type="submit" value="Deactivate" class="btn btn-danger"
                                       id="deactivate-profile-btn">
                            </form>
                            <a href="#" id="edit-details-btn" class="btn btn-default" style="letter-spacing: 1px;">Edit Details</a>
                        {% endif %}

                        </div>

                        <div id="edit-profile-form">

                        {% if update_form.errors %}
                            <ul class="errors">
                                {% for field_name, field_errors in update_form.errors|dictsort if field_errors %}
                                    {% for error in field_errors %}
                                        <li style="color: #e84545;">{{ update_form[field_name].label }}: {{ error }}</li>
                                    {% endfor %}
                             {% endfor %}
                                <br>
                            </ul>
                        {% endif %}



                            <h4 class="red-text text-center">&#9473 Update your personal details &#9473</h4>

                            <br>

                            <form role="form" method="POST" action="/viewprofile" enctype="multipart/form-data" id="details-form">
                                {{ update_form.hidden_tag() }}

                                <div class="form-group col_1_of_1">
                                    <label for="imageUpload" id="imageUpload-btn">
                                        <span>Click to Upload Photo</span><br>
                                        <span id="image-file-name-display" style="font-size: 15px; font-weight: normal;">No File Selected</span>
                                    </label>
                                    <script>
                                        function displayFilename() {
                                            var filename = $('#imageUpload')[0].files[0];
                                            document.getElementById("image-file-name-display").innerHTML = filename.name;
                                        }
                                    </script>

                                    {{ update_form.image(id="image-file-name", id="imageUpload", class="form-control", placeholder="image", onchange="displayFilename()", style="display:none;", value=curr_match_table.image) }}
                                </div>
                                <br><br><br>

                                <div class="form-group col_1_of_2">
                                    <label>Name</label>
                                    {{ update_form.name(class="form-control", placeholder="Name", value=curr_match_table.name, readonly=true) }}
                                </div>

                                <div class="form-group col_1_of_2">
                                    <label>Age</label>
                                    {{ update_form.age(class="form-control", placeholder="Age", value=curr_match_table.age) }}
                                </div>

                                <div class="form-double-input">
                                    <div class="form-group col_1_of_2">
                                        <label>Gender</label>
                                        {{ update_form.gender(class="form-control", placeholder="Gender", value=curr_match_table.gender) }}
                                    </div>
                                    <div class="form-group col_1_of_2">
                                        <label>Location</label>
                                        {{ update_form.location(class="form-control", placeholder="Location", value=curr_match_table.location) }}
                                    </div>
                                </div>

                                <div class="form-double-input">
                                    <div class="form-group col_1_of_2">
                                        <label>Height (cm)</label>
                                        {{ update_form.height(class="form-control", placeholder="Height", value=curr_match_table.height) }}
                                    </div>

                                    <div class="form-group col_1_of_2">
                                        <label>Education Level</label>
                                        {{ update_form.education(class="form-control", placeholder="Education", value=curr_match_table.education) }}
                                    </div>
                                </div>

                                <div class="form-single-input">
                                    <div class="form-group col_1_of_1">
                                        <label>About Me</label>
                                        {{ update_form.bio(class="form-control", placeholder="About Me", value=curr_match_table.bio) }}
                                    </div>
                                </div>

                                <div class="form-single-input">
                                    <div class="form-group col_1_of_1" style="margin-bottom: 80px;">
                                        <button type="submit" class="btn btn-default" style="letter-spacing: 1px;">Update Details
                                        </button>
                                    </div>
                                </div>

                            </form>
                                <a href="#" id="edit-profile-back-btn" class="btn btn-default" style="letter-spacing: 1px;">Back</a>
                        </div>
                            </div>

                        <div class="tab-pane fade in" id="tab2">

                            <div id = "answer_details">
                                <h3 class="red-text text-center">Watson Personality Profile</h3>


                                <!-- Watson Display Section -->
                                <br><h4>{{ curr_match_table.username.capitalize() }}:</h4>

                                <div>
                                        <p>Needs Love:</p>
                                     <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ curr_match_table.love }}%">
                                         {{ curr_match_table.love }}%
                                     </div><br>
                                </div>

                                <div>
                                     <p>Is Practical:</p>
                                     <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: {{ curr_match_table.practicality }}%">
                                        {{ curr_match_table.practicality }}%
                                     </div><br>
                                </div>

                                <div>
                                     <p>Needs Excitement:</p>
                                     <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ curr_match_table.excitment }}%">
                                        {{ curr_match_table.excitment }}%
                                     </div><br>
                                </div>

                                <div>
                                    <p>Needs Closeness:</p>
                                     <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ curr_match_table.closeness }}%">
                                        {{ curr_match_table.closeness }}%
                                     </div><br>
                                </div>

                                 <div>
                                    <p>Needs Structure:</p>
                                     <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ curr_match_table.closeness }}%">
                                        {{ curr_match_table.structure }}%
                                     </div><br>
                                </div>
                                <br>
                               <!-- Circles -->


                                <!-- Start display binary floats -->

                                <!-- start live_music -->
                                {% if curr_match_table.live_music * 100 == 0 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Enjoys Live music:</p>
                                    <div class="c100 p0 small green">
                                        <span> {{curr_match_table.live_music * 100}}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.live_music * 100 == 50 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Enjoys Live music:</p>
                                    <div class="c100 p50 small green">
                                        <span> {{ curr_match_table.live_music * 100}}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.live_music * 100 == 100 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Enjoys Live music:</p>
                                    <div class="c100 p100 small green">
                                        <span> {{ curr_match_table.live_music * 100}}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                 <!-- End live_music -->

                                <!-- start gym -->
                                {% if curr_match_table.gym_member * 100 == 0 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Likely to enjoys GYM:</p>
                                    <div class="c100 p0 small green">
                                        <span> {{ curr_match_table.gym_member * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.gym_member * 100 == 50 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Likely to enjoys GYM:</p>
                                    <div class="c100 p50 small green">
                                        <span> {{ curr_match_table.gym_member * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.gym_member * 100 == 100 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Likely to enjoys GYM:</p>
                                    <div class="c100 p100 small green">
                                        <span> {{ curr_match_table.gym_member * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!-- End gym -->

                                <!-- Start outdoors -->
                                {% if curr_match_table.outdoors * 100 == 0 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Outdoors Person:</p>
                                    <div class="c100 p0 small green">
                                        <span> {{ curr_match_table.outdoors * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.outdoors * 100 == 50 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Outdoors Person:</p>
                                    <div class="c100 p50 small green">
                                        <span> {{ curr_match_table.outdoors * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.outdoors * 100 == 100 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Outdoors Person:</p>
                                    <div class="c100 p100 small green">
                                        <span> {{ curr_match_table.outdoors * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!-- End outdoors -->

                                <!-- Start Volunteering -->
                                {% if curr_match_table.volunteering * 100 == 0 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Likely to be volunteer:</p>
                                    <div class="c100 p0 small green">
                                        <span> {{ curr_match_table.volunteering * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.volunteering * 100 == 50 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Likely to be volunteer:</p>
                                    <div class="c100 p50 small green">
                                        <span> {{ curr_match_table.volunteering * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.volunteering * 100 == 100 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Likely to be volunteer:</p>
                                    <div class="c100 p100 small green">
                                        <span> {{ curr_match_table.volunteering * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!-- End Volunteering -->

                                <!-- Start Entrepreneur -->
                                {% if curr_match_table.entreprenuer * 100 == 0 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Likely to Start a Business:</p>
                                    <div class="c100 p0 small green">
                                        <span> {{ curr_match_table.entreprenuer * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.entreprenuer * 100 == 50 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Likely to Start a Business:</p>
                                    <div class="c100 p50 small green">
                                        <span> {{ curr_match_table.entreprenuer * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.entreprenuer * 100 == 100 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Likely to Start a Business:</p>
                                    <div class="c100 p100 small green">
                                        <span> {{ curr_match_table.entreprenuer * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!-- End Entrepreneur -->

                                <!-- Start Reading -->
                                {% if curr_match_table.reading * 100 == 0 %}
                                <div style="display:inline-block;padding:25px">
                                   <p>Enjoys reading:</p>
                                   <div class="c100 p0 small green">
                                       <span> {{ curr_match_table.reading * 100 }}%</span>
                                       <div class="slice">
                                           <div class="bar"></div>
                                           <div class="fill"></div>
                                       </div>
                                   </div>
                                </div>
                                {% endif %}

                                 {% if curr_match_table.reading * 100 == 50 %}
                                <div style="display:inline-block;padding:25px">
                                    <p>Enjoys reading:</p>
                                    <div class="c100 p50 small green">
                                        <span> {{ curr_match_table.reading * 100 }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                   </div>
                                </div>
                                {% endif %}

                                {% if curr_match_table.reading * 100 == 100 %}
                                <div style="display:inline-block;padding:25px">
                                   <p>Enjoys reading:</p>
                                   <div class="c100 p100 small green">
                                       <span> {{ curr_match_table.reading * 100 }}%</span>
                                       <div class="slice">
                                           <div class="bar"></div>
                                           <div class="fill"></div>
                                       </div>
                                   </div>
                                </div>
                                {% endif %}
                                <!-- End Reading -->


                            </div>
                                                            <!-- only show the edit button if looking at another user's profile -->
                                    {% if current_user.username == curr_match_table.username %}
                                    <a href="#" id="edit-answers-btn" class="btn btn-default" style="letter-spacing: 1px;">Edit Answers</a>
                                    {% endif %}
                                <div id="edit-personality-form">

                                <h4 class="red-text text-center"> &#9473 The following questions are used to match you with other users. &#9473</h4>

                                <br>
                                <form role="form" method="POST" action="/viewprofile">
                                    {{ answer_form.hidden_tag() }}

                                    <div class="form-single-input">
                                        <div class="form-group col_1_of_1">
                                            <label for="q1">Tell me about yourself.</label>
                                            {{ answer_form.q1(class="form-control", placeholder="Question 1", value=curr_ans_table.q1) }}
                                        </div>
                                    </div>

                                    <div class="form-single-input">
                                        <div class="form-group col_1_of_1">
                                            <label for="q2">What is your ideal holiday?.</label>
                                            {{ answer_form.q2(class="form-control", placeholder="Question 2", value=curr_ans_table.q2) }}
                                        </div>
                                    </div>

                                    <div class="form-single-input">
                                        <div class="form-group col_1_of_1">
                                            <label for="q3">Describe your most recent shopping experience.</label>
                                            {{ answer_form.q3(class="form-control", placeholder="Question 3", value=curr_ans_table.q3) }}
                                        </div>

                                    </div>

                                    <div class="form-single-input">
                                        <div class="form-group col_1_of_1">
                                            <label for="q4">
                                                Describe your expirence with going to the gym and if you have never attended
                                                a gym whatdo you think of them?
                                            </label>
                                            {{ answer_form.q4(class="form-control", placeholder="Question 4", value=curr_ans_table.q4) }}
                                        </div>
                                    </div>

                                    <div class="form-single-input">
                                        <div class="form-group col_1_of_1">
                                            <label for="q5">What does being outdoor mean to you?</label>
                                            {{ answer_form.q5(class="form-control", placeholder="Question 5", value=curr_ans_table.q5) }}
                                        </div>
                                    </div>

                                    <div class="form-single-input">
                                        <div class="form-group col_1_of_1">
                                            <label for="q6">Describe the last time you expirience being in nature.</label>
                                            {{ answer_form.q6(class="form-control", placeholder="Question 6", value=curr_ans_table.q6) }}
                                        </div>
                                    </div>

                                    <div class="form-single-input">
                                        <div class="form-group col_1_of_1">
                                            <label for="q7">Describe a time when you did something entreprenuerial.</label>
                                            {{ answer_form.q7(class="form-control", placeholder="Question 7", value=curr_ans_table.q7) }}
                                        </div>
                                    </div>

                                    <div class="form-single-input">
                                        <div class="form-group col_1_of_1">
                                            <label for="q8">What do you think of volunteering and have you ever
                                                volunteered?</label>
                                            {{ answer_form.q8(class="form-control", placeholder="Question 8", value=curr_ans_table.q8) }}
                                        </div>
                                    </div>

                                    <div class="form-single-input">
                                        <div class="form-group col_1_of_1" style="margin-bottom: 80px;">
                                            <button type="submit" class="btn btn-default" style="letter-spacing: 1px;">Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            <a href="#" id="edit-answer-back-btn" class="btn btn-default" style="letter-spacing: 1px;">Back</a>

                            </div>
                        </div>


                      </div>
                    </div>

                </div>

                {% endif %}


        </div>

    </section>

{% endblock %}
