{% extends 'index.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    
    <!-- Register Form Modal -->
    <div id="register-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p class="modal-closes"><span id="register-close">&times;</span></p>
            <header class="header"><a href="{{ url_for('login') }}">Log in</a></header>
            
        </div>
    </div>

    <!-- Login Form Modal -->
    <div id="login-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p class="modal-closes"><span id="login-close">&times;</span></p>
            <header class="header"><a href="{{ url_for('register') }}">Register</a></header>
    
            
            </form>
        </div>
    </div>

    <!-- about section -->
    <section id="intro" class="section intro no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="flexslider">
                    <ul class="slides">
                        <a id="welcome-content" name="linktocontent"></a>
                        <li>
                            <div class="col-md-6">
                                <div class="avatar">
                                    <img src="../static/images/welcome-photo.jpg" alt="" class="img-responsive">
                                </div>
                                <h3></h3>
                            </div>
                            <div class="col-md-6">
                                <blockquote>
                                    <h2 style="letter-spacing: 1px;">Welcome to <b>DIDO.</b><br><br>
                                        <em>— the largest, hottest community of singles in the world.</em>
                                    </h2>
                                    <br>
                                    <h1 style="letter-spacing: 1px;">Don’t be shy, join in on the fun!</h1>
                                    <br>
                                    <h4 style="letter-spacing: 1px;"><em>You'll be sure to go broke.</em></h4>


                                </blockquote>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- about section -->
    <section id="testimonials" class="section testimonials no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="col-md-12">
                                <blockquote>
                                    <h1>"I love this website!" </h1>
                                    <p>- Rene Brown -</p>
                                </blockquote>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-12">
                                <blockquote>
                                    <h1>"I found love!" </h1>
                                    <p>- Brain Rice -</p>
                                </blockquote>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-12">
                                <blockquote>
                                    <h1>"A must try for newly singles!" </h1>
                                    <p>- Andi Simond -</p>
                                </blockquote>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-12">
                                <blockquote>
                                    <h1>"Don't waste anymore time!" </h1>
                                    <p>- Kristy Gabbor -</p>
                                </blockquote>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
