{% extends 'index.html' %}

{% block body %}
    

    <!-- Register Form Modal -->
    <div id="register-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span id="register-close">&times;</span>
            <header class="header">Register</header>
            <form action="/signup" method="post" id="form" class="topBefore">
               
            <input type="submit" value="Signup">
               
            </form>
        </div>
    </div>

    <!-- Login Form Modal -->
    <div id="login-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span id="login-close">&times;</span>
            <header class="header">Login</header>
            <form action="#" method="post" id="form" class="topBefore">
                <input id="username" name="username" type="text" placeholder="Username">
                <input id="password" name="password" type="text" placeholder="Password">
{#                    <textarea id="message" name="message" type="text" placeholder="MESSAGE"></textarea>#}
                <input id="submit" type="submit" value="LOGIN">
            </form>
        </div>
    </div>

    <!-- about section -->
    <section id="intro" class="section intro no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="flexslider">
                    <ul class="slides">
                        <a id="welcome-content" name="linktocontent"></a>
                        <li>
                            <div class="col-md-6">
                                <div class="avatar">
                                    <img src="../static/images/intro-img1.jpg" alt="" class="img-responsive">
                                </div>
                                <h3></h3>
                            </div>
                            <div class="col-md-6">
                                <blockquote>
                                    <h1>We create Awesome Branding</h1>
                                    <p>Susan Sims, Interaction Designer at XYZCras mattis consectetur purus sit amet
                                        fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed
                                        consectetur.Cras mattis consectetur purus sit amet fermentum.Interaction
                                        Designer at XYZCras mattis consectetur purus sit amet fermentum. Donec sed odio
                                        dui. Aenean lacinia bibendum nulla sed consectetur.Cras mattis consectetur purus
                                        sit amet fermentum. </p>
                                    <p>Susan Sims, Interaction Designer at XYZCras mattis consectetur purus sit amet
                                        fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed
                                        consectetur.Cras mattis consectetur purus sit amet fermentum. </p>
                                </blockquote>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-6">
                                <div class="avatar"><img src="../static/images/intro-img2.jpg" alt="" class="img-responsive"></div>
                            </div>
                            <div class="col-md-6">
                                <blockquote>
                                    <h1>We create Digital Experience </h1>
                                    <p>Susan Sims, Interaction Designer at XYZCras mattis consectetur purus sit amet
                                        fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed
                                        consectetur.Cras mattis consectetur purus sit amet fermentum.Interaction
                                        Designer at XYZCras mattis consectetur purus sit amet fermentum. Donec sed odio
                                        dui. Aenean lacinia bibendum nulla sed consectetur.Cras mattis consectetur purus
                                        sit amet fermentum. </p>
                                    <p>Susan Sims, Interaction Designer at XYZCras mattis consectetur purus sit amet
                                        fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed
                                        consectetur.Cras mattis consectetur purus sit amet fermentum. </p>
                                </blockquote>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- about section -->
    <section id="testimonials" class="section testimonials no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="col-md-12">
                                <blockquote>
                                    <h1>"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed
                                        odio dui. Phasellus non dolor nibh. Nullam elementum Aenean eu leo
                                        quam..." </h1>
                                    <p>Rene Brown, Open Window production</p>
                                </blockquote>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-12">
                                <blockquote>
                                    <h1>"Cras dictum tellus dui, vitae sollicitudin ipsum. Phasellus non dolor nibh.
                                        Nullam elementum tellus pretium feugiat shasellus non dolor nibh. Nullam
                                        elementum tellus pretium feugiat." </h1>
                                    <p>Brain Rice, Lexix Private Limited.</p>
                                </blockquote>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-12">
                                <blockquote>
                                    <h1>"Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean
                                        lacinia bibendum nulla sed consectetur...." </h1>
                                    <p>Andi Simond, Global Corporate Inc</p>
                                </blockquote>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-12">
                                <blockquote>
                                    <h1>"Lorem ipsum dolor sit amet, consectetur adipiscing elitPhasellus non dolor
                                        nibh. Nullam elementum tellus pretium feugiat. Cras dictum tellus dui
                                        sollcitudin." </h1>
                                    <p>Kristy Gabbor, Martix Media</p>
                                </blockquote>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
