<footer class="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="row">
          <div class="footer-col col-md-6">
            <h5>Useful Links</h5>
            <p>
              <ul>
                <li><a href="/help">Help</a></li>
                <li><a href="/terms">Terms &amp; Conditions</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </p>
          </div>

          <div class="footer-col col-md-3">
              <h5>Developed by:</h5>
              <ul style="text-indent: 20px;">
                  <li>Ben Diep</li>
                  <li>Damon Toumbourou</li>
                  <li>Alex Cheong</li>
                  <br>
                  <li>Capstone Project 2017 &copy;</li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  <!-- footer top --> 
  
</footer>