{% import "bootstrap/wtf.html" as wtf %}
<section class="banner" role="banner">
    <!-- header section -->
    <header id="header" class="fixed">
        <!-- header navigation -->
        <div class="header-content clearfix">
            <a class="logo" href="/"><img src="../static/images/other/icon.png" alt=""></a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li>
                        <div class="svg-wrapper">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect id="shape" height="40" width="150"/>
                                <div id="text">
                                    <a href="/"><span class="spot"></span>Welcome</a>
                                </div>
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="svg-wrapper">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect id="shape" height="40" width="150"/>
                                <div id="text">
                                    <a href="#" id="register-btn"><span class="spot"></span>Register</a>
                                </div>
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="svg-wrapper">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect id="shape" height="40" width="150"/>
                                <div id="text">
                                    <a href="#" id="login-btn"><span class="spot"></span>Login</a>
                                </div>
                            </svg>
                        </div>
                    </li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
    </header>
    <!-- header navigation -->

    <!-- banner text -->
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="banner-text text-center">
                <h1 style="padding-left: 20px;">DIDO</h1>
                <p style="color: black;">Science Based Matching</p>
                <nav role="navigation">
                    <a id="down-arrow" href="#linktocontent" class="banner-btn">
                        <img src="../../static/images/other/down-arrow.png" alt="">
                    </a>
                </nav>
            </div>
            <!-- banner text -->
        </div>
    </div>
</section>
