{% import "bootstrap/wtf.html" as wtf %}
<section class="banner" role="banner">
    <!-- header section -->
    <header id="header" class="fixed">
        <!-- header navigation -->
        <div class="header-content clearfix">
            <a class="logo" href="/"><img src="../static/images/icon.png" alt=""></a>
            <nav class="navigation" role="navigation">
                    <ul class="primary-nav">

{#                          <a href="{{ url_for('login') }}">Login</a>#}
                            <button id="register-btn">Register</button>
                        </li>
                        <li>
{#                          <a href="{{ url_for('register') }}">Register</a>#}
                            <button id="login-btn">Login</button>
                        </li>
                    </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
    </header>
    <!-- header navigation -->

    <!-- banner text -->
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="banner-text text-center">
                <h1 style="padding-left: 20px;">DIDO</h1>
                <p style="color: black;">Science Based Matching</p>
                <nav role="navigation">
                    <a id="down-arrow" href="#linktocontent" class="banner-btn">
                        <img src="../../static/images/down-arrow.png" alt="">
                    </a>
                </nav>
            </div>
            <!-- banner text -->
        </div>
    </div>
</section>
