<section class="banner" role="banner">
    <!-- header section -->
    <header id="header">
        <!-- header navigation -->
        <div class="header-content clearfix"> <a class="logo" href="#"><img src="images/logo.png" alt=""></a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li><a href="/">Welcome</a></li>
                    <li><a href="/member">Members</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a> </div>
        </header>
        <!-- header navigation -->
        <!-- banner text -->
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="banner-text text-center">
                <h1>DIDO</h1>
                <p>Science Based Matching</p>
                <nav role="navigation"> <a href="#services" class="banner-btn"><img src="../../static/images/down-arrow.png" alt=""></a></nav>
            </div>
      <!-- banner text -->
        </div>
    </div>
</section>