<section class="banner" role="banner">
    <!-- header section -->
    <header id="header" class="fixed">
        <!-- header navigation -->
        <div class="header-content clearfix">
            <a class="logo" href="/"><img src="../static/images/icon.png" alt=""></a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li><a href="/">Welcome</a></li>
                    <li>
                        <button id="register-btn">Register</button>
                    </li>
                    <li>
                        <button id="login-btn">Login</button>
                    </li>
                    <li>
                        <a href="{{ url_for('member')}}">Home</a></button>
                    </li>
                    <li>
                        <a href="{{ url_for('profile')}}">Profile</a></button>
                    </li>
                    <li>
                        <a href="{{ url_for('logout')}}">Sign out</a></button>
                    </li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
    </header>
    <!-- header navigation -->
</section>
