<section class="banner" role="banner">
    <!-- header section -->
    <header id="header" class="fixed">
        <!-- header navigation -->
        <div class="header-content clearfix">
            <a class="logo" href="/"><img src="../static/images/other/logo.png" alt=""></a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    {% if current_user.is_authenticated %}

                        <li>
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150"/>
                                    <div id="text">
                                        <a href="{{ url_for('member') }}"><span class="spot"></span>Home</a>
                                    </div>
                                </svg>
                            </div>
                        </li>
                        {% if current_user.username == "admin" %}
                        <li>
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150"/>

                                    <div id="text">
                                        <a href="{{ url_for('admin') }}"><span class="spot"></span>admin</a>
                                    </div>
                                </svg>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150"/>

                                    <div id="text">
                                        <a href="{{ url_for('profile') }}"><span class="spot"></span>Profile</a>
                                    </div>
                                </svg>
                            </div>
                        </li>
                        {% endif %}
                        <li>
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150"/>
                                    <div id="text">
                                        <a href="{{ url_for('logout') }}"><span class="spot"></span>Sign Out</a>
                                    </div>
                                </svg>
                            </div>
                        </li>

                    {% else %}
                        <li>
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150"/>
                                    <div id="text">
                                        <a href="/"><span class="spot"></span>Welcome</a>
                                    </div>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150"/>
                                    <div id="text">
                                        <a href="#" id="register-btn"><span class="spot"></span>Register</a>
                                    </div>
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150"/>
                                    <div id="text">
                                        <a href="#" id="login-btn"><span class="spot"></span>Login</a>
                                    </div>
                                </svg>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
    </header>
    <!-- header navigation -->
</section>
