<section class="banner" role="banner">
    <!-- header section -->
    <header id="header" class="fixed">
        <!-- header navigation -->
        <div class="header-content clearfix">
            <a class="logo" href="/"><img src="../static/images/icon.png" alt=""></a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('member') }}">Home</a></button>
                        </li>
                        <li>
                            <a href="{{ url_for('profile') }}">Profile</a></button>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">Sign out</a></button>
                        </li>
                    {% else %}
                        <li>
                            <a href="/">Welcome</a>
                        </li>
                        <li>
                            <a href="#" id="register-btn">Register</a>
                        </li>
                        <li>
                            <a href="#" id="login-btn">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
    </header>
    <!-- header navigation -->
</section>
